<nav class="navbar-dark bg-dark">


  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Sneakersss</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class="nbar"><a href="/shoes">SHOES</a></li>
      <li class="nbar"><a href="/about">ABOUT</a></li>
    </ul>
  </div>
</nav>
