<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <header>
      <% include ./partials/header %>
    </header>

    
    <h1 id="index1"><a href="/shoes"><%= title %></a></h1>

  </body>
</html>
