@import "bootstrap.min.css";
@import 'materialize.min.css';

#indexh1{
  margin-top: 200px;
  font-size: 300px;
}
#myshoes{
  font-size: 175px;
}
#add{
  margin-top: 100px;
}
.container{
  margin-top: 200px;
}
h1{
  font-family: 'Libre Barcode 39 Text', cursive;
  text-align: center;
}
h3{
  margin-left: 20px;
}

form{
  margin-left: 20px;
}
.brand{
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 50px;

}

/* .nbar{
  float: right;
} */
.nav-pills{
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 2.7em;
  background: #88A5C2;
  opacity:.9;
}

.fright{
  float:right;
  color: black;
}
