@import 'materialize.min.css';

h1{
  font-family: 'Libre Barcode 39 Text', cursive;
  text-align: center;
}
h3{
  margin-left: 20px;
}

form{
  margin-left: 20px;
}
.brand-logo{
  font-family: 'Libre Barcode 39 Text', cursive;

}

.nbar{
  float: right;
}
